<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Live App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>This Is Heroku Awesome!</h1>
		<p>Hello World from EJS and Express <a href="https://github.com/MurshidMac/Heroku-Buildpacks">Grab it from my github</a></p>
		<a href="https://github.com/MurshidMac" class="btn btn-primary btn-lg">View Me </a>
	</div>
</div>
	
</body>
</html>